<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style="background-color: #7C7067;" >
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" [routerLink]="['/home']">Quiz Application</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/admin']">Admin</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/user']">User</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/addUserTab']">Add User</a></li>
                <li class="nav-item"><a class="nav-link" href="http://www.burjsoft.com/About" target="blank">About</a></li>
            </ul>
        </div>
    </div>
</nav>